{% extends "base/layout_for_all.html" %}
{% block body %}
	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 page-sidebar">
					<aside>
						<div class="widget sidebar-widget white-container candidates-single-widget">
							<div class="widget-content">
								<div class="thumb">
									<img src="{{ url_for('static', filename='img/content/face-6.png') }}" alt="">
								</div>
								
								<h5 class="bottom-line">My Profile</h5>

								<p>Your profile is not completed yet.</p>
								<a href="{{url_for('mod_profile.update_personal_info')}}">Click here to complete it.</a>

								<table>
									<tbody>
										<tr>
											<td>Name</td>
											<td>{{ current_user.first_name }} {{ current_user.last_name }}</td>
										</tr>

										<tr>
											<td>Date Of Birth</td>
											<td>{{current_user.dateOfBirth.strftime('%Y-%m-%d')}}</td>
										</tr>

										<tr>
											<td>Location</td>
											<td>{{ current_user.address1 }} </td>

										</tr>

										<tr>
											<td>Phone Mobile</td>
											<td>{{ current_user.phone_mobile }}</td>
										</tr>
										<tr>
											<td>Phone Work</td>
											<td>{{ current_user.phone_work }}</td>
										</tr>

										<tr>
											<td>Fax</td>
											<td>{{ current_user.fax }}</td>
										</tr>

										<tr>
											<td>E-mail</td>
											<td><a href="mailto:{{ current_user.email }}">{{ current_user.email }}</a></td>
										</tr>
									</tbody>
								</table>

								<h5 class="bottom-line">Jobs i applied for</h5>

								<table>
									<tbody>
                                    {% for job in show_jobs %}
										<tr>
											<td>{{job.title}}</td>
											<td>
                                                <a href="{{ config.BASE_PATH}}/job/{{job.id}}">View this job</a>
											</td>
										</tr>
                                    {% endfor %}

									</tbody>
								</table>

                                <h5 class="bottom-line">Trainings i am attending</h5>

								<table>
									<tbody>
                                    {% for training in show_trainings %}
										<tr>
											<td>{{training.title}}</td>
											<td>
                                                <a href="{{ config.BASE_PATH}}/training/{{training.id}}">View this training</a>
											</td>
										</tr>
                                    {% endfor %}

									</tbody>
								</table>
							</div>
						</div>
					</aside>
				</div> <!-- end .page-sidebar -->

				<div class="col-sm-8 page-content">
					<div class="candidates-item candidates-single-item">
						<h6 class="title"><a href="#">{{ current_user.first_name }} {{ current_user.last_name }}</a></h6>
						<span class="meta">24 Years Old - {{ current_user.country }}</span>

						<ul class="top-btns">
							<li><a href="#" class="btn btn-gray fa fa-star"></a></li>
						</ul>

						<ul class="social-icons clearfix">
							<li><a href="#" class="btn btn-gray fa fa-facebook"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-twitter"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-google-plus"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-dribbble"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-pinterest"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-linkedin"></a></li>
						</ul>
                        <h5>Summary:</h5>
                        <p>{{ current_user.cvSummary}}</p>

		                <h4>Education</h4>
						<ul class="list-unstyled">
							<li><strong>School :</strong> {{ current_user.school}}</li>
							<li><strong>Field Study:</strong> {{ current_user.fieldOfStudy}}</li>
							<li><strong>Degree:</strong> {{ current_user.schoolDegree}}</li>
                            <li><strong>Time worked here: </strong> {{ current_user.startDateSchool.strftime('%Y/%m/%d')}}<strong>--</strong>{{ current_user.endDateSchool.strftime('%Y/%m/%d')}}</li>

						</ul>
                        <h4>Experience</h4>
                        <ul class="list-unstyled">
							<li><strong>Company Name: </strong>{{ current_user.experience.companyName}}</li>
							<li><strong>Work Position: </strong> {{ current_user.experience.workPosition}}</li>
							<li><strong>Time worked here: </strong> {{ current_user.experience.startDateWork.strftime('%Y/%m/%d')}}--{{ current_user.experience.endDateWork.strftime('%Y/%m/%d')}}</li>
						    <li><strong>Description of work:</strong><br> {{ current_user.experience.experienceDescription}}</li>
                        </ul>

						<div class="progress-bar toggle" data-progress="60">
							<a href="#" class="progress-bar-toggle"></a>
							<h6 class="progress-bar-title">Web Design</h6>
							<div class="progress-bar-inner"><span></span></div>
							<div class="progress-bar-content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
							</div>
						</div>

						<div class="progress-bar toggle" data-progress="60">
							<a href="#" class="progress-bar-toggle"></a>
							<h6 class="progress-bar-title">Development</h6>
							<div class="progress-bar-inner"><span></span></div>
							<div class="progress-bar-content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
							</div>
						</div>

						<div class="progress-bar toggle" data-progress="60">
							<a href="#" class="progress-bar-toggle"></a>
							<h6 class="progress-bar-title">UI/UX</h6>
							<div class="progress-bar-inner"><span></span></div>
							<div class="progress-bar-content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
							</div>
						</div>

						<hr>

						<div class="clearfix">
							<a href="#" class="btn btn-default pull-left"><i class="fa fa-envelope-o"></i> Contact Me</a>

							<ul class="social-icons pull-right">
								<li><span>Share</span></li>
								<li><a href="#" class="btn btn-gray fa fa-facebook"></a></li>
								<li><a href="#" class="btn btn-gray fa fa-twitter"></a></li>
								<li><a href="#" class="btn btn-gray fa fa-google-plus"></a></li>
							</ul>
						</div>
					</div>
				</div> <!-- end .page-content -->
			</div>
		</div> <!-- end .container -->
	</div> <!-- end #page-content -->
{% endblock %}
