{% extends "base/costum_layout.html" %}
{% block body %}
	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 page-sidebar">
					<aside>
						<div class="widget sidebar-widget white-container candidates-single-widget">
							<div class="widget-content">
								<div class="thumb">
									<img src="{{ url_for('static', filename='img/content/face-6.png') }}" alt="">
								</div>
								
								<h5 class="bottom-line">My Profile</h5>

								<p>Your profile is not completed yet.</p>
								<a href="{{url_for('mod_profile.update_personal_info')}}">Click here to complete it.</a>

								<table>
									<tbody>
										<tr>
											<td>Name</td>
											<td>{{ current_user.first_name }} {{ current_user.last_name }}</td>
										</tr>

										<tr>
											<td>Date Of Birth</td>
                                            {%  if current_user.dateOfBirth %}
											<td>{{current_user.dateOfBirth.strftime('%Y-%m-%d')}}</td>
                                            {%  endif %}
										</tr>

										<tr>
											<td>Location</td>
											<td>{{ current_user.address1 }} </td>

										</tr>

										<tr>
											<td>Phone Mobile</td>
											<td>{{ current_user.phone_mobile }}</td>
										</tr>
										<tr>
											<td>Phone Work</td>
											<td>{{ current_user.phone_work }}</td>
										</tr>

										<tr>
											<td>Fax</td>
											<td>{{ current_user.fax }}</td>
										</tr>

										<tr>
											<td>E-mail</td>
											<td><a href="mailto:{{ current_user.email }}">{{ current_user.email }}</a></td>
										</tr>
									</tbody>
								</table>

								<h5 class="bottom-line">Jobs i applied for</h5>

								<table>
									<tbody>
                                    {% for job in show_jobs %}
										<tr>
											<td>{{job.title}}</td>
											<td>
                                                <a href="{{ config.BASE_PATH}}/job/{{job.id}}">View this job</a>
											</td>
										</tr>
                                    {% endfor %}

									</tbody>
								</table>

                                <h5 class="bottom-line">Trainings i am attending</h5>

								<table>
									<tbody>
                                    {% for training in show_trainings %}
										<tr>
											<td>{{training.title}}</td>
											<td>
                                                <a href="{{ config.BASE_PATH}}/training/{{training.id}}">View this training</a>
											</td>
										</tr>
                                    {% endfor %}

									</tbody>
								</table>
							</div>
						</div>
					</aside>
				</div> <!-- end .page-sidebar -->

				<div class="col-sm-8 page-content">
					<div class="candidates-item candidates-single-item">
						<h6 class="title"><a href="#">{{ current_user.first_name }} {{ current_user.last_name }}</h6>

						<span class="meta">24 Years Old - {{ current_user.country }}</span>

						<ul class="top-btns">
                            <li class="meta">Update personal info
                            </li>
                            <li><a href="{{url_for('mod_profile.update_personal_info')}}" class="btn btn-gray fa fa-pencil-square-o"></a></li>
						</ul>

						<ul class="social-icons clearfix">
							<li><a href="#" class="btn btn-gray fa fa-facebook"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-twitter"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-google-plus"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-dribbble"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-pinterest"></a></li>
							<li><a href="#" class="btn btn-gray fa fa-linkedin"></a></li>
						</ul>
                        <h4 class="bottom-line"> Summary:  </h4>
                        <ul class="list-inline pull-right">
                            <li class="meta">Update summary
                            </li>
                            <li><a href="{{url_for('mod_profile.update_summary')}}" class="btn btn-gray fa fa-pencil-square-o"></a></li>
						</ul>

                        <p>{{ current_user.cvSummary}}</p><br></br>


		                <h4 class="bottom-line">Education <a href="{{url_for('mod_profile.create_education')}}" class="btn btn-gray pull-right" >Add Education</a></h4>

                        {%  for education in current_user.education %}
						<ul class="list-unstyled" width="500px">
                          <ul class="list-inline pull-right" >

							<li><a href="{{url_for('mod_profile.update_education')}}?edu_id={{education.edu_id}}&d=0" class="btn btn-gray fa fa-pencil-square-o"></a></li>
                            <li><a href="{{url_for('mod_profile.update_education')}}?edu_id={{education.edu_id}}&d=1" class="btn btn-gray fa fa-times"></a></li>

						</ul>
                            <br>
							<li><strong>School :</strong> {{ education.school}}</li>
							<li><strong>Field Study:</strong> {{ education.fieldOfStudy}}</li>
							<li><strong>Degree:</strong> {{ education.schoolDegree}}</li>
                            <li><strong>Period of time:  </strong> {%  if education.startDateSchool %}{{  education.startDateSchool.strftime('%Y/%m/%d')}}--{{ education.endDateSchool.strftime('%Y/%m/%d')}}{% endif %}</li>
                            <li><strong>Description:</strong> <br><span style="word-wrap: break-word;">{{ education.schoolDescription}}</span></li>
                                <hr style="border: 0; border-bottom: 1px dashed #ccc; background: #F9F4FA;"
                        </ul>
                        {% endfor %}

                        <h4 class="bottom-line">Experience <a href="{{url_for('mod_profile.create_experience')}}" class="btn btn-gray pull-right" >Add Experience</a></h4>
                         {%  for experience in current_user.experience %}
                        <ul class="list-unstyled" width="500px">
                            <li >
                                <ul class="list-inline pull-right" >
                                    <li><a href="#create-experience" class="btn btn-gray fa fa-pencil-square-o" data-toggle="modal">Add</a></li>
                                    <li><a href="{{url_for('mod_profile.update_experience')}}?exp_id={{experience.exp_id}}&d=0" class="btn btn-gray fa fa-pencil-square-o">Edit</a></li>
                                    <li><a href="#experience-{{ experience.exp_id }}" class="btn btn-gray fa fa-pencil-square-o" data-toggle="modal"></a></li>
                                    <li><a href="{{url_for('mod_profile.update_experience')}}?exp_id={{experience.exp_id}}&d=1" class="btn btn-gray fa fa-times"></a></li>
                                </ul>
                            </li>

							<li ><strong>Company Name:  </strong>><span style="word-wrap: break-word;">{{ experience.companyName}}</span></li>
							<li ><strong>Work Position: </strong> ><span style="word-wrap: break-word;">{{ experience.workPosition}}</span></li>
                            <li><strong>Period of time:  </strong> {%  if experience.startDateWork %}{{  experience.startDateWork.strftime('%Y/%m/%d')}}--{{ experience.endDateWork.strftime('%Y/%m/%d')}}{% endif %}</li>
						    <li ><strong>Description of work:</strong><br><span style="word-wrap: break-word;"> {{ experience.experienceDescription}}</span></li>
                                <hr style="border: 0; border-bottom: 1px dashed #ccc; background: #F9F4FA;"
                        </ul>
                            <div id="experience-{{ experience.exp_id }}" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Update experience</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-register" role="form" method="post" action="{{url_for('mod_profile.update_experience')}}">
                                                    <div>
                                                        <section>
                                                            <div class="row">
                                                                    <div class="col-sm-7">
                                                                          <span>Company Name:</span>
                                                                        {{ form.companyName(value=experience.companyName) }}
                                                                    </div>
                                                            </div>
                                                        {{ form.exp_id(type="hidden", value=experience.exp_id)}}
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                            <div>Start Date:</div>
                                                                {{ form.startDateWork(value=experience.startDateWork,type="date", class = "form-control") }}

                                                            </div>
                                                            <div class="col-sm-5">
                                                            <h5>End Date:</h5>
                                                                {{ form.endDateWork(value=experience.endDateWork,type="date", class = "form-control")}}
                                                            </div>
                                                            </section>
                                                        <section>

                                                            <div class="row">
                                                                    <div class="col-sm-6">
                                                                    <span>Work position </span>
                                                                          {{ form.workPosition(value=experience.workPosition) }}
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <span>Company location</span>
                                                                          {{ form.companyLocation(value=experience.companyLocation) }}
                                                                    </div>
                                                            </div>
                                                        </section>
                                                        <section>
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                <span>Description:</span>
                                                                <textarea name="experienceDescription">{{ experience.experienceDescription }}</textarea>

                                                                </div>
                                                            </div>
                                                            </section>
                                                    </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                             <div id="create-experience" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Update experience</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-register" role="form" method="post" action="{{url_for('mod_profile.create_experience')}}">
                                                    <div>
                                                        <section>
                                                            <div class="row">
                                                                    <div class="col-sm-7">
                                                                          <span>Company Name:</span>
                                                                        {{ form.companyName }}
                                                                    </div>
                                                            </div>
                                                        {{ form.exp_id(type="hidden")}}
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                            <div>Start Date:</div>
                                                                {{ form.startDateWork(type="date", class = "form-control") }}

                                                            </div>
                                                            <div class="col-sm-5">
                                                            <h5>End Date:</h5>
                                                                {{ form.endDateWork(type="date", class = "form-control")}}
                                                            </div>
                                                            </section>
                                                        <section>

                                                            <div class="row">
                                                                    <div class="col-sm-6">
                                                                    <span>Work position </span>
                                                                          {{ form.workPosition}}
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <span>Company location</span>
                                                                          {{ form.companyLocation }}
                                                                    </div>
                                                            </div>
                                                        </section>
                                                        <section>
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                <span>Description:</span>
                                                                {{ form.experienceDescription }}

                                                                </div>
                                                            </div>
                                                            </section>
                                                    </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

						<div class="clearfix">
							<a href="#" class="btn btn-default pull-left"><i class="fa fa-envelope-o"></i> Contact Me</a>

							<ul class="social-icons pull-right">
								<li><span>Share</span></li>
								<li><a href="#" class="btn btn-gray fa fa-facebook"></a></li>
								<li><a href="#" class="btn btn-gray fa fa-twitter"></a></li>
								<li><a href="#" class="btn btn-gray fa fa-google-plus"></a></li>
							</ul>
						</div>
					</div>
				</div> <!-- end .page-content -->
			</div>
		</div> <!-- end .container -->
	</div> <!-- end #page-content -->
{% endblock %}
