{% extends "home/layout.html" %}

{% block body %}
<!-- Content -->
<div id="content">
  <div id="title">
    <h1 class="inner title-2">Search Results <span>- Web Developer</span>
      <ul class="breadcrumb-inner">
        <li> <a href="../home/index.html">Home</a></li>
        <li> <a href="candidates.html">Candidates</a></li>
      </ul>
    </h1>
  </div>
  <div class="inner"> 
    
    <!-- Content Inner -->
    <div class="content-inner candidate-list"> 
      
      <!-- Content Center -->
      <div id="search-and-sort" class="box-1 search-bar-full">
        <div id="search-partner">
          <form id="search-partner-form" action="post">
            <input type="text" placeholder="Location" class="textfield-with-callback"/>
            <input type="text" placeholder="Industry / Role" class="textfield-with-callback"/>
            <input id="search-submit" class="pull-right" type="submit" value="Search">
          </form>
        </div>
      </div>
      <div class="clear"></div>
      <div class="heading-l">
        <h2> Available Jobs </h2>
      </div>
      <div class="job-page-top-nav-bar">
        <div class="job-page-sorter">
          <div class="sorter-select">
            <select class="select">
              <option value="Sort By" selected="selected">- Sort By -</option>
              <option value="Sort Criterion 1">Sort Criterion 1</option>
              <option value="Sort Criterion 2">Sort Criterion 2</option>
              <option value="Sort Criterion 3">Sort Criterion 3</option>
            </select>
          </div>
        </div>
        <div class="search-count">451 Results Found</div>
        <div class="pager">
          <ul>
            <li class="prev noactive"><a></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li class="next"><a href="#"></a></li>
          </ul>
        </div>
      </div>
      <div class="candidates-box-wrapper full">
        <div id="job-content-fields">
          <div id="cells" class="view_mode">
            <div  class="field-container odd box-1">
              <div class="nav-buttons">
                <ul>
                  <li class="show-hide"><a></a></li>
                  <li class="favorite"><a href="#"></a></li>
                  <li class="link"><a href="job.html"></a></li>
                </ul>
              </div>
              <div class="cells-job-thumb"> <img src="{{ url_for('static', filename='images/recruiter.jpg') }}"  alt="Thumb"/> </div>
              <div class="header-fields">
                <div class="title-company">
                  <div class="title"><a href="job.html">Abu Antar</a></div>
                  <div class="company">24 Years Old - Sydney, AU</div>
                </div>
                <ul class="social_media_icons job">
                  <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-linkedin-square"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-pinterest"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-dribbble"></i> </a> </li>
                </ul>
              </div>
              <div class="body-field">
                <div class="teaser">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="read-more"><a>Read More</a></span></p>
                </div>
                <div class="full-body">
                  <p>Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <ul class="candidate-meta meta-fields">
                  <li class="pull-left">Experience: <span>5 Years</span></li>
                  <li class="pull-center">Degree: <span>MBA</span></li>
                  <li class="pull-right">Career Level: <span>Mid Career</span></li>
                </ul>
                <div class="block-fields">
                  <div class="block skills">
                    <h4>Required Skills</h4>
                    <div class="block-content">
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">5 Years of Experience</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "60"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">Perfect Written &amp; Spoken English</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "100"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description show">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">3 Foreign Languages</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "65"></span></div>
                          <div class = "description">Preferred languages are Arabic, French &amp; Italian. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</div>
                        </div>
                      </div>
                      <!-- Cleaner -->
                      <div class="clear"></div>
                      <!-- /Cleaner --> 
                    </div>
                  </div>
                  <div class="block">
                    <h4>Additional Requirements</h4>
                    <div class="block-content">
                      <div class = "tag-field">Work Permit</div>
                      <div class = "tag-field">5 Years Experience</div>
                      <div class = "tag-field">MBA</div>
                      <div class = "tag-field">Magento Certified</div>
                      <div class = "tag-field">Perfect Written &amp; Spoken English</div>
                    </div>
                    <!-- Cleaner -->
                    <div class="clear"></div>
                    <!-- /Cleaner --> 
                  </div>
                </div>
                <div class="buttons-field applybtns">
                  <div class="apply"><a href="#">Contact Me</a></div>
                  <div class="full"><a href="#">Contact On MotibU</a></div>
                </div>
              </div>
            </div>
            <div  class="field-container odd box-1">
              <div class="nav-buttons">
                <ul>
                  <li class="show-hide"><a></a></li>
                  <li class="favorite"><a href="#"></a></li>
                  <li class="link"><a href="job.html"></a></li>
                </ul>
              </div>
              <div class="cells-job-thumb"> <img src="{{ url_for('static', filename='images/recruiter.jpg') }}"  alt="Thumb"/> </div>
              <div class="header-fields">
                <div class="title-company">
                  <div class="title"><a href="job.html">Abu Antar</a></div>
                  <div class="company">24 Years Old - Sydney, AU</div>
                </div>
                <ul class="social_media_icons job">
                  <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-linkedin-square"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-pinterest"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-dribbble"></i> </a> </li>
                </ul>
              </div>
              <div class="body-field">
                <div class="teaser">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="read-more"><a>Read More</a></span></p>
                </div>
                <div class="full-body">
                  <p>Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <ul class="candidate-meta meta-fields">
                  <li class="pull-left">Experience: <span>5 Years</span></li>
                  <li class="pull-center">Degree: <span>MBA</span></li>
                  <li class="pull-right">Career Level: <span>Mid Career</span></li>
                </ul>
                <div class="block-fields">
                  <div class="block skills">
                    <h4>Required Skills</h4>
                    <div class="block-content">
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">5 Years of Experience</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "60"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">Perfect Written &amp; Spoken English</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "100"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description show">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">3 Foreign Languages</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "65"></span></div>
                          <div class = "description">Preferred languages are Arabic, French &amp; Italian. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</div>
                        </div>
                      </div>
                      <!-- Cleaner -->
                      <div class="clear"></div>
                      <!-- /Cleaner --> 
                    </div>
                  </div>
                  <div class="block">
                    <h4>Additional Requirements</h4>
                    <div class="block-content">
                      <div class = "tag-field">Work Permit</div>
                      <div class = "tag-field">5 Years Experience</div>
                      <div class = "tag-field">MBA</div>
                      <div class = "tag-field">Magento Certified</div>
                      <div class = "tag-field">Perfect Written &amp; Spoken English</div>
                    </div>
                    <!-- Cleaner -->
                    <div class="clear"></div>
                    <!-- /Cleaner --> 
                  </div>
                </div>
                <div class="buttons-field applybtns">
                  <div class="apply"><a href="#">Contact Me</a></div>
                  <div class="full"><a href="#">Contact On MotibU</a></div>
                </div>
              </div>
            </div>
            <div  class="field-container odd box-1">
              <div class="nav-buttons">
                <ul>
                  <li class="show-hide"><a></a></li>
                  <li class="favorite"><a href="#"></a></li>
                  <li class="link"><a href="job.html"></a></li>
                </ul>
              </div>
              <div class="cells-job-thumb"> <img src="{{ url_for('static', filename='images/recruiter.jpg') }}"  alt="Thumb"/> </div>
              <div class="header-fields">
                <div class="title-company">
                  <div class="title"><a href="job.html">Abu Antar</a></div>
                  <div class="company">24 Years Old - Sydney, AU</div>
                </div>
                <ul class="social_media_icons job">
                  <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-linkedin-square"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-pinterest"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-dribbble"></i> </a> </li>
                </ul>
              </div>
              <div class="body-field">
                <div class="teaser">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="read-more"><a>Read More</a></span></p>
                </div>
                <div class="full-body">
                  <p>Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <ul class="candidate-meta meta-fields">
                  <li class="pull-left">Experience: <span>5 Years</span></li>
                  <li class="pull-center">Degree: <span>MBA</span></li>
                  <li class="pull-right">Career Level: <span>Mid Career</span></li>
                </ul>
                <div class="block-fields">
                  <div class="block skills">
                    <h4>Required Skills</h4>
                    <div class="block-content">
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">5 Years of Experience</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "60"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">Perfect Written &amp; Spoken English</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "100"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description show">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">3 Foreign Languages</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "65"></span></div>
                          <div class = "description">Preferred languages are Arabic, French &amp; Italian. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</div>
                        </div>
                      </div>
                      <!-- Cleaner -->
                      <div class="clear"></div>
                      <!-- /Cleaner --> 
                    </div>
                  </div>
                  <div class="block">
                    <h4>Additional Requirements</h4>
                    <div class="block-content">
                      <div class = "tag-field">Work Permit</div>
                      <div class = "tag-field">5 Years Experience</div>
                      <div class = "tag-field">MBA</div>
                      <div class = "tag-field">Magento Certified</div>
                      <div class = "tag-field">Perfect Written &amp; Spoken English</div>
                    </div>
                    <!-- Cleaner -->
                    <div class="clear"></div>
                    <!-- /Cleaner --> 
                  </div>
                </div>
                <div class="buttons-field applybtns">
                  <div class="apply"><a href="#">Contact Me</a></div>
                  <div class="full"><a href="#">Contact On MotibU</a></div>
                </div>
              </div>
            </div>
            <div  class="field-container odd box-1">
              <div class="nav-buttons">
                <ul>
                  <li class="show-hide"><a></a></li>
                  <li class="favorite"><a href="#"></a></li>
                  <li class="link"><a href="job.html"></a></li>
                </ul>
              </div>
              <div class="cells-job-thumb"> <img src="{{ url_for('static', filename='images/recruiter.jpg') }}"  alt="Thumb"/> </div>
              <div class="header-fields">
                <div class="title-company">
                  <div class="title"><a href="job.html">Abu Antar</a></div>
                  <div class="company">24 Years Old - Sydney, AU</div>
                </div>
                <ul class="social_media_icons job">
                  <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-linkedin-square"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-pinterest"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-dribbble"></i> </a> </li>
                </ul>
              </div>
              <div class="body-field">
                <div class="teaser">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="read-more"><a>Read More</a></span></p>
                </div>
                <div class="full-body">
                  <p>Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <ul class="candidate-meta meta-fields">
                  <li class="pull-left">Experience: <span>5 Years</span></li>
                  <li class="pull-center">Degree: <span>MBA</span></li>
                  <li class="pull-right">Career Level: <span>Mid Career</span></li>
                </ul>
                <div class="block-fields">
                  <div class="block skills">
                    <h4>Required Skills</h4>
                    <div class="block-content">
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">5 Years of Experience</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "60"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">Perfect Written &amp; Spoken English</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "100"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description show">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">3 Foreign Languages</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "65"></span></div>
                          <div class = "description">Preferred languages are Arabic, French &amp; Italian. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</div>
                        </div>
                      </div>
                      <!-- Cleaner -->
                      <div class="clear"></div>
                      <!-- /Cleaner --> 
                    </div>
                  </div>
                  <div class="block">
                    <h4>Additional Requirements</h4>
                    <div class="block-content">
                      <div class = "tag-field">Work Permit</div>
                      <div class = "tag-field">5 Years Experience</div>
                      <div class = "tag-field">MBA</div>
                      <div class = "tag-field">Magento Certified</div>
                      <div class = "tag-field">Perfect Written &amp; Spoken English</div>
                    </div>
                    <!-- Cleaner -->
                    <div class="clear"></div>
                    <!-- /Cleaner --> 
                  </div>
                </div>
                <div class="buttons-field applybtns">
                  <div class="apply"><a href="#">Contact Me</a></div>
                  <div class="full"><a href="#">Contact On MotibU</a></div>
                </div>
              </div>
            </div>
            <div  class="field-container odd box-1">
              <div class="nav-buttons">
                <ul>
                  <li class="show-hide"><a></a></li>
                  <li class="favorite"><a href="#"></a></li>
                  <li class="link"><a href="job.html"></a></li>
                </ul>
              </div>
              <div class="cells-job-thumb"> <img src="{{ url_for('static', filename='images/recruiter.jpg') }}"  alt="Thumb"/> </div>
              <div class="header-fields">
                <div class="title-company">
                  <div class="title"><a href="job.html">Abu Antar</a></div>
                  <div class="company">24 Years Old - Sydney, AU</div>
                </div>
                <ul class="social_media_icons job">
                  <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-linkedin-square"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-pinterest"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-dribbble"></i> </a> </li>
                </ul>
              </div>
              <div class="body-field">
                <div class="teaser">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="read-more"><a>Read More</a></span></p>
                </div>
                <div class="full-body">
                  <p>Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <ul class="candidate-meta meta-fields">
                  <li class="pull-left">Experience: <span>5 Years</span></li>
                  <li class="pull-center">Degree: <span>MBA</span></li>
                  <li class="pull-right">Career Level: <span>Mid Career</span></li>
                </ul>
                <div class="block-fields">
                  <div class="block skills">
                    <h4>Required Skills</h4>
                    <div class="block-content">
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">5 Years of Experience</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "60"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">Perfect Written &amp; Spoken English</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "100"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description show">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">3 Foreign Languages</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "65"></span></div>
                          <div class = "description">Preferred languages are Arabic, French &amp; Italian. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</div>
                        </div>
                      </div>
                      <!-- Cleaner -->
                      <div class="clear"></div>
                      <!-- /Cleaner --> 
                    </div>
                  </div>
                  <div class="block">
                    <h4>Additional Requirements</h4>
                    <div class="block-content">
                      <div class = "tag-field">Work Permit</div>
                      <div class = "tag-field">5 Years Experience</div>
                      <div class = "tag-field">MBA</div>
                      <div class = "tag-field">Magento Certified</div>
                      <div class = "tag-field">Perfect Written &amp; Spoken English</div>
                    </div>
                    <!-- Cleaner -->
                    <div class="clear"></div>
                    <!-- /Cleaner --> 
                  </div>
                </div>
                <div class="buttons-field applybtns">
                  <div class="apply"><a href="#">Contact Me</a></div>
                  <div class="full"><a href="#">Contact On MotibU</a></div>
                </div>
              </div>
            </div>
            <div  class="field-container odd box-1">
              <div class="nav-buttons">
                <ul>
                  <li class="show-hide"><a></a></li>
                  <li class="favorite"><a href="#"></a></li>
                  <li class="link"><a href="job.html"></a></li>
                </ul>
              </div>
              <div class="cells-job-thumb"> <img src="{{ url_for('static', filename='images/recruiter.jpg') }}"  alt="Thumb"/> </div>
              <div class="header-fields">
                <div class="title-company">
                  <div class="title"><a href="job.html">Abu Antar</a></div>
                  <div class="company">24 Years Old - Sydney, AU</div>
                </div>
                <ul class="social_media_icons job">
                  <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-linkedin-square"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-pinterest"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-dribbble"></i> </a> </li>
                </ul>
              </div>
              <div class="body-field">
                <div class="teaser">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="read-more"><a>Read More</a></span></p>
                </div>
                <div class="full-body">
                  <p>Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <ul class="candidate-meta meta-fields">
                  <li class="pull-left">Experience: <span>5 Years</span></li>
                  <li class="pull-center">Degree: <span>MBA</span></li>
                  <li class="pull-right">Career Level: <span>Mid Career</span></li>
                </ul>
                <div class="block-fields">
                  <div class="block skills">
                    <h4>Required Skills</h4>
                    <div class="block-content">
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">5 Years of Experience</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "60"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">Perfect Written &amp; Spoken English</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "100"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description show">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">3 Foreign Languages</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "65"></span></div>
                          <div class = "description">Preferred languages are Arabic, French &amp; Italian. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</div>
                        </div>
                      </div>
                      <!-- Cleaner -->
                      <div class="clear"></div>
                      <!-- /Cleaner --> 
                    </div>
                  </div>
                  <div class="block">
                    <h4>Additional Requirements</h4>
                    <div class="block-content">
                      <div class = "tag-field">Work Permit</div>
                      <div class = "tag-field">5 Years Experience</div>
                      <div class = "tag-field">MBA</div>
                      <div class = "tag-field">Magento Certified</div>
                      <div class = "tag-field">Perfect Written &amp; Spoken English</div>
                    </div>
                    <!-- Cleaner -->
                    <div class="clear"></div>
                    <!-- /Cleaner --> 
                  </div>
                </div>
                <div class="buttons-field applybtns">
                  <div class="apply"><a href="#">Contact Me</a></div>
                  <div class="full"><a href="#">Contact On MotibU</a></div>
                </div>
              </div>
            </div>
            <div  class="field-container odd box-1">
              <div class="nav-buttons">
                <ul>
                  <li class="show-hide"><a></a></li>
                  <li class="favorite"><a href="#"></a></li>
                  <li class="link"><a href="job.html"></a></li>
                </ul>
              </div>
              <div class="cells-job-thumb"> <img src="{{ url_for('static', filename='images/recruiter.jpg') }}"  alt="Thumb"/> </div>
              <div class="header-fields">
                <div class="title-company">
                  <div class="title"><a href="job.html">Abu Antar</a></div>
                  <div class="company">24 Years Old - Sydney, AU</div>
                </div>
                <ul class="social_media_icons job">
                  <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-linkedin-square"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-pinterest"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-dribbble"></i> </a> </li>
                </ul>
              </div>
              <div class="body-field">
                <div class="teaser">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="read-more"><a>Read More</a></span></p>
                </div>
                <div class="full-body">
                  <p>Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <ul class="candidate-meta meta-fields">
                  <li class="pull-left">Experience: <span>5 Years</span></li>
                  <li class="pull-center">Degree: <span>MBA</span></li>
                  <li class="pull-right">Career Level: <span>Mid Career</span></li>
                </ul>
                <div class="block-fields">
                  <div class="block skills">
                    <h4>Required Skills</h4>
                    <div class="block-content">
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">5 Years of Experience</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "60"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">Perfect Written &amp; Spoken English</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "100"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description show">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">3 Foreign Languages</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "65"></span></div>
                          <div class = "description">Preferred languages are Arabic, French &amp; Italian. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</div>
                        </div>
                      </div>
                      <!-- Cleaner -->
                      <div class="clear"></div>
                      <!-- /Cleaner --> 
                    </div>
                  </div>
                  <div class="block">
                    <h4>Additional Requirements</h4>
                    <div class="block-content">
                      <div class = "tag-field">Work Permit</div>
                      <div class = "tag-field">5 Years Experience</div>
                      <div class = "tag-field">MBA</div>
                      <div class = "tag-field">Magento Certified</div>
                      <div class = "tag-field">Perfect Written &amp; Spoken English</div>
                    </div>
                    <!-- Cleaner -->
                    <div class="clear"></div>
                    <!-- /Cleaner --> 
                  </div>
                </div>
                <div class="buttons-field applybtns">
                  <div class="apply"><a href="#">Contact Me</a></div>
                  <div class="full"><a href="#">Contact On MotibU</a></div>
                </div>
              </div>
            </div>
            <div  class="field-container odd box-1">
              <div class="nav-buttons">
                <ul>
                  <li class="show-hide"><a></a></li>
                  <li class="favorite"><a href="#"></a></li>
                  <li class="link"><a href="job.html"></a></li>
                </ul>
              </div>
              <div class="cells-job-thumb"> <img src="{{ url_for('static', filename='images/recruiter.jpg') }}"  alt="Thumb"/> </div>
              <div class="header-fields">
                <div class="title-company">
                  <div class="title"><a href="job.html">Abu Antar</a></div>
                  <div class="company">24 Years Old - Sydney, AU</div>
                </div>
                <ul class="social_media_icons job">
                  <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-linkedin-square"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-pinterest"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-dribbble"></i> </a> </li>
                </ul>
              </div>
              <div class="body-field">
                <div class="teaser">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="read-more"><a>Read More</a></span></p>
                </div>
                <div class="full-body">
                  <p>Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <ul class="candidate-meta meta-fields">
                  <li class="pull-left">Experience: <span>5 Years</span></li>
                  <li class="pull-center">Degree: <span>MBA</span></li>
                  <li class="pull-right">Career Level: <span>Mid Career</span></li>
                </ul>
                <div class="block-fields">
                  <div class="block skills">
                    <h4>Required Skills</h4>
                    <div class="block-content">
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">5 Years of Experience</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "60"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">Perfect Written &amp; Spoken English</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "100"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description show">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">3 Foreign Languages</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "65"></span></div>
                          <div class = "description">Preferred languages are Arabic, French &amp; Italian. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</div>
                        </div>
                      </div>
                      <!-- Cleaner -->
                      <div class="clear"></div>
                      <!-- /Cleaner --> 
                    </div>
                  </div>
                  <div class="block">
                    <h4>Additional Requirements</h4>
                    <div class="block-content">
                      <div class = "tag-field">Work Permit</div>
                      <div class = "tag-field">5 Years Experience</div>
                      <div class = "tag-field">MBA</div>
                      <div class = "tag-field">Magento Certified</div>
                      <div class = "tag-field">Perfect Written &amp; Spoken English</div>
                    </div>
                    <!-- Cleaner -->
                    <div class="clear"></div>
                    <!-- /Cleaner --> 
                  </div>
                </div>
                <div class="buttons-field applybtns">
                  <div class="apply"><a href="#">Contact Me</a></div>
                  <div class="full"><a href="#">Contact On MotibU</a></div>
                </div>
              </div>
            </div>
            <div  class="field-container odd box-1">
              <div class="nav-buttons">
                <ul>
                  <li class="show-hide"><a></a></li>
                  <li class="favorite"><a href="#"></a></li>
                  <li class="link"><a href="job.html"></a></li>
                </ul>
              </div>
              <div class="cells-job-thumb"> <img src="{{ url_for('static', filename='images/recruiter.jpg') }}"  alt="Thumb"/> </div>
              <div class="header-fields">
                <div class="title-company">
                  <div class="title"><a href="job.html">Abu Antar</a></div>
                  <div class="company">24 Years Old - Sydney, AU</div>
                </div>
                <ul class="social_media_icons job">
                  <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-linkedin-square"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-pinterest"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-dribbble"></i> </a> </li>
                </ul>
              </div>
              <div class="body-field">
                <div class="teaser">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="read-more"><a>Read More</a></span></p>
                </div>
                <div class="full-body">
                  <p>Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <ul class="candidate-meta meta-fields">
                  <li class="pull-left">Experience: <span>5 Years</span></li>
                  <li class="pull-center">Degree: <span>MBA</span></li>
                  <li class="pull-right">Career Level: <span>Mid Career</span></li>
                </ul>
                <div class="block-fields">
                  <div class="block skills">
                    <h4>Required Skills</h4>
                    <div class="block-content">
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">5 Years of Experience</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "60"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">Perfect Written &amp; Spoken English</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "100"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description show">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">3 Foreign Languages</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "65"></span></div>
                          <div class = "description">Preferred languages are Arabic, French &amp; Italian. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</div>
                        </div>
                      </div>
                      <!-- Cleaner -->
                      <div class="clear"></div>
                      <!-- /Cleaner --> 
                    </div>
                  </div>
                  <div class="block">
                    <h4>Additional Requirements</h4>
                    <div class="block-content">
                      <div class = "tag-field">Work Permit</div>
                      <div class = "tag-field">5 Years Experience</div>
                      <div class = "tag-field">MBA</div>
                      <div class = "tag-field">Magento Certified</div>
                      <div class = "tag-field">Perfect Written &amp; Spoken English</div>
                    </div>
                    <!-- Cleaner -->
                    <div class="clear"></div>
                    <!-- /Cleaner --> 
                  </div>
                </div>
                <div class="buttons-field applybtns">
                  <div class="apply"><a href="#">Contact Me</a></div>
                  <div class="full"><a href="#">Contact On MotibU</a></div>
                </div>
              </div>
            </div>
            <div  class="field-container odd box-1">
              <div class="nav-buttons">
                <ul>
                  <li class="show-hide"><a></a></li>
                  <li class="favorite"><a href="#"></a></li>
                  <li class="link"><a href="job.html"></a></li>
                </ul>
              </div>
              <div class="cells-job-thumb"> <img src="{{ url_for('static', filename='images/recruiter.jpg') }}"  alt="Thumb"/> </div>
              <div class="header-fields">
                <div class="title-company">
                  <div class="title"><a href="job.html">Abu Antar</a></div>
                  <div class="company">24 Years Old - Sydney, AU</div>
                </div>
                <ul class="social_media_icons job">
                  <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-linkedin-square"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-pinterest"></i> </a> </li>
                  <li> <a href="#"> <i class="fa fa-dribbble"></i> </a> </li>
                </ul>
              </div>
              <div class="body-field">
                <div class="teaser">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="read-more"><a>Read More</a></span></p>
                </div>
                <div class="full-body">
                  <p>Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <ul class="candidate-meta meta-fields">
                  <li class="pull-left">Experience: <span>5 Years</span></li>
                  <li class="pull-center">Degree: <span>MBA</span></li>
                  <li class="pull-right">Career Level: <span>Mid Career</span></li>
                </ul>
                <div class="block-fields">
                  <div class="block skills">
                    <h4>Required Skills</h4>
                    <div class="block-content">
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">5 Years of Experience</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "60"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description hide">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">Perfect Written &amp; Spoken English</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "100"></span></div>
                          <div class = "description">...</div>
                        </div>
                      </div>
                      <div class = "field roll-with-description show">
                        <div class = "roll-button"><span></span></div>
                        <div class = "roll-field">
                          <div class = "label">3 Foreign Languages</div>
                          <div class = "progressbar"><span class = "progress-count" data-level = "65"></span></div>
                          <div class = "description">Preferred languages are Arabic, French &amp; Italian. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</div>
                        </div>
                      </div>
                      <!-- Cleaner -->
                      <div class="clear"></div>
                      <!-- /Cleaner --> 
                    </div>
                  </div>
                  <div class="block">
                    <h4>Additional Requirements</h4>
                    <div class="block-content">
                      <div class = "tag-field">Work Permit</div>
                      <div class = "tag-field">5 Years Experience</div>
                      <div class = "tag-field">MBA</div>
                      <div class = "tag-field">Magento Certified</div>
                      <div class = "tag-field">Perfect Written &amp; Spoken English</div>
                    </div>
                    <!-- Cleaner -->
                    <div class="clear"></div>
                    <!-- /Cleaner --> 
                  </div>
                </div>
                <div class="buttons-field applybtns">
                  <div class="apply"><a href="#">Contact Me</a></div>
                  <div class="full"><a href="#">Contact On MotibU</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="job-page-top-nav-bar">
        <div class="job-page-sorter">
          <div class="sorter-select">
            <select class="select">
              <option value="Sort By" selected="selected">- Sort By -</option>
              <option value="Sort Criterion 1">Sort Criterion 1</option>
              <option value="Sort Criterion 2">Sort Criterion 2</option>
              <option value="Sort Criterion 3">Sort Criterion 3</option>
            </select>
          </div>
        </div>
        <div class="pager">
          <ul>
            <li class="prev noactive"><a></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li class="next"><a href="#"></a></li>
          </ul>
        </div>
      </div>
      
      <!-- /Content Center -->
      
      <div class="clear"></div>
      
      <!-- Clear Line --> 
      
    </div>
    <!-- /Content Inner --> 
    
  </div>
</div>

<!-- /Content --> 
{% endblock %}