{% extends "base/costum_layout.html" %}
    <script>
    $(".datepicker").datepicker();
</script>
{% block body %}

	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 page-content">
					<div class="white-container create-job">
						<form class="form" role="form" method="post" action="">
                        {{ form.csrf_token }}
						<div>
							<h2>Create Job:</h2>
							<section>
								<h6 ><strong>Job title</strong></h6>

								<div class="row">
									<div class="col-sm-4">
									{{ form.title(placeholder="Job title") }}
                                            <span class="error">
                                              {% if form.title.errors %}
                                                {% for error in form.title.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                                </span>
									</div>
								</div>
								<h6 ><strong>Date</strong></h6>

								<div class="row">
									<div class="col-sm-4">
										<h7 >End Date</h7>
										{{ form.date( type="date", class = "form-control datepicker" ) }}
                                        <span class="error">
                                              {% if form.date.errors %}
                                                {% for error in form.date.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
                                    
									</div>
								</div>

								<h6 ><strong>Location</strong></h6>

								<div class="row">
									<div class="col-sm-4">
										{{ form.location(placeholder="Adress") }}
                                        <span class="error">
                                              {% if form.location.errors %}
                                                {% for error in form.location.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
								</div>

                                <h6 ><strong>Short Description</strong></h6>

								<div class="row">
									<div class="col-sm-6">
										{{ form.short_description(placeholder="Short description") }}
                                        <span class="error">
                                              {% if form.short_description.errors %}
                                                {% for error in form.short_description.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
								</div>

								<h6 ><strong>Description</strong></h6>

								<div class="row">
									<div class="col-sm-6">
										{{ form.description(placeholder="Description",rows=5) }}
                                        <span class="error">
                                              {% if form.description.errors %}
                                                {% for error in form.description.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
								</div>
								<h6 ><strong>Requirements</strong></h6>

								<div class="row">
									<div class="col-sm-6">
										{{ form.requirements(placeholder="Requirements") }}
                                        <span class="error">
                                              {% if form.requirements.errors %}
                                                {% for error in form.requirements.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
								</div>

                                <h6 ><strong>Industry</strong></h6>
                                <div class="row">
									<div class="col-sm-8">
										{{ form.industry (class="list-unstyled") }}
                                        <span class="error">
                                              {% if form.industry.errors %}
                                                {% for error in form.industry.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
								</div>

                                <h6 ><strong>Target group</strong></h6>
                                <div class="row">
									<div class="col-sm-8">
										{{ form.target_group (class="list-unstyled") }}
                                        <span class="error">
                                              {% if form.target_group.errors %}
                                                {% for error in form.target_group.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
								</div>

                            <div class="clearfix">
										<button class="btn btn-default btn-large pull-left" type="submit">Post Job</button>
									</div>
							</section>

						</div>

							
						</form>
					</div>
				</div> <!-- end .page-content -->
			</div>
		</div> <!-- end .container -->
	</div> <!-- end #page-content -->

	{% endblock %}