{% extends "base/costum_layout.html" %}
{% block body %}
	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 page-content">
					<div class="white-container create-training-form">
						<div>
							<h2>Create Training:</h2>
							<section>
								<h6 class="label">Training title</h6>

								<div class="row">
									<div class="col-sm-4">
										<input type="text" class="form-control" placeholder="Training title">
									</div>
								</div>
								<h6 class="label">Date</h6>

								<div class="row">
									<div class="col-sm-4">
										<h7 class="label">Start Date and Time</h7>
										<input type="datetime-local" class="form-control">
									</div>

									<div class="col-sm-4">
										<h7 class="label">End Date and Time</h7>
										<input type="datetime-local" class="form-control">
									</div>
									<div class="col-sm-2">
										<h7 class="label">Space</h7>
										<input type="number" class="form-control">
									</div>
								</div>

								<h6 class="label">Instructor</h6>

								<div class="row">
									<div class="col-sm-4">
										<input type="text" class="form-control" placeholder="Name"/>
									</div>

									<div class="col-sm-4">
										<input type="text" class="form-control" placeholder="Surname"/>
									</div>

								</div>

									<h6 class="label">Agenda</h6>

								<div class="row">
									<div class="col-sm-8">
										<textarea type="text" class="form-control" placeholder="Agenda"/></textArea>
									</div>
								</div>

								<h6 class="label">Description</h6>

								<div class="row">
									<div class="col-sm-8">
										<textarea type="text" class="form-control" placeholder="Description"/></textArea>
									</div>
								</div>
								<h6 class="label">Requirements</h6>

								<div class="row">
									<div class="col-sm-8">
										<textarea type="text" class="form-control" placeholder="Requirements"/></textArea>
									</div>
								</div>


							</section>

						</div>

						<div class="clearfix">
							<a href="#" class="btn btn-default btn-large pull-right">Add</a>
						</div>
					</div>
				</div> <!-- end .page-content -->
			</div>
		</div> <!-- end .container -->
	</div> <!-- end #page-content -->

	{% endblock %}