{% extends "base/costum_layout.html" %}
{% block body %}
	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 page-content">
					<div class="white-container create-training-form">
					<form class="form" role="form" method="post" action="">
						<div>
							<h2>Create Training:</h2>
							<section>
								{{ form.csrf_token }}
								<h6 class="label">Training title</h6>
									<div class="row">
									<div class="col-sm-4">
										 {{ form.title(placeholder="Training title") }}
                                            <span class="error">
                                              {% if form.title.errors %}
                                                {% for error in form.title.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
										</div>
									</div>

								<h6 class="label">Date</h6>

								<div class="row">
									<div class="col-sm-4">
										<h7 class="label">Start Date and Time</h7>
										
										{{ form.startDate(placeholder="Start Date" , type="datetime-local", class = "form-control datepicker") }}
									</div>

									<div class="col-sm-4">
										<h7 class="label">End Date and Time</h7>
										{{ form.endDate(placeholder="End Date" , type="datetime-local", class = "form-control") }}
									</div>
									<div class="col-sm-2">
										<h7 class="label">Space</h7>
										{{ form.space(placeholder="Space") }}
									</div>
								</div>

								<h6 class="label">Instructor</h6>

								<div class="row">
									<div class="col-sm-4">
										{{ form.instructorName(placeholder="Name") }}
									</div>

									<div class="col-sm-4">
										{{ form.instructorSurname(placeholder="Surname") }}
									</div>

								</div>

									<h6 class="label">Agenda</h6>

								<div class="row">
									<div class="col-sm-8">
										{{ form.agenda(placeholder="Agenda") }}
									</div>
								</div>

								<h6 class="label">Description</h6>

								<div class="row">
									<div class="col-sm-8">
										{{ form.description(placeholder="Description") }}
									</div>
								</div>
								<h6 class="label">Requirements</h6>

								<div class="row">
									<div class="col-sm-8">
										{{ form.requirements(placeholder="Requirements") }}
									</div>
								</div>
							</section>
						</div>
						<div class="clearfix">
						
							<button class="btn btn-default btn-large pull-right" type="submit">Add</button>
							
						</div>
					</form>
					</div>
				</div> <!-- end .page-content -->
			</div>
		</div> <!-- end .container -->
	</div> <!-- end #page-content -->

	{% endblock %}