{% extends "base/costum_layout.html" %}
{% block body %}
	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 page-content">
					<div class="white-container create-training-form">
					<form class="form" role="form" method="post" action="">
						<div>
							<h2>Create Training:</h2>
							<section>
								{{ form.csrf_token }}
								<h6 class="label">Training title</h6>
									<div class="row">
									<div class="col-sm-4">
										 {{ form.title(placeholder="Training title") }}
                                            <span class="error">
                                              {% if form.title.errors %}
                                                {% for error in form.title.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
										</div>
									</div>

								<h6 class="label">Date</h6>

								<div class="row">
									<div class="col-sm-4">
										<h7 class="label">Start Date and Time</h7>

										{{ form.startDate(placeholder="Start Date",type="date", class='control-form') }}
                                        <span class="error">
                                              {% if form.startDate.errors %}
                                                {% for error in form.startDate.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>

									<div class="col-sm-4">
										<h7 class="label">End Date and Time</h7>
										{{ form.endDate(placeholder="End Date",type="date", class='control-form')}}
                                        <span class="error">
                                              {% if form.endDate.errors %}
                                                {% for error in form.endDate.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
									<div class="col-sm-2">
										<h7 class="label">Space</h7>
										{{ form.space(placeholder="Space") }}
                                        <span class="error">
                                              {% if form.space.errors %}
                                                {% for error in form.space.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
								</div>

								<h6 class="label">Instructor</h6>

								<div class="row">
									<div class="col-sm-4">
										{{ form.instructorName(placeholder="Name") }}
                                        <span class="error">
                                              {% if form.instructorName.errors %}
                                                {% for error in form.instructorName.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>

									<div class="col-sm-4">
										{{ form.instructorSurname(placeholder="Surname") }}
                                        <span class="error">
                                              {% if form.instructorSurname.errors %}
                                                {% for error in form.instructorSurname.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>

								</div>

									<h6 class="label">Agenda</h6>

								<div class="row">
									<div class="col-sm-8">
										{{ form.agenda(placeholder="Agenda") }}
                                        <span class="error">
                                              {% if form.agenda.errors %}
                                                {% for error in form.agenda.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
								</div>

                                <h6 class="label">Short Description</h6>

								<div class="row">
									<div class="col-sm-6">
										{{ form.short_description(placeholder="Short description") }}
                                        <span class="error">
                                              {% if form.short_description.errors %}
                                                {% for error in form.short_description.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
								</div>

								<h6 class="label">Description</h6>

								<div class="row">
									<div class="col-sm-8">
										{{ form.description(placeholder="Description") }}
                                        <span class="error">
                                              {% if form.description.errors %}
                                                {% for error in form.description.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
								</div>
								<h6 class="label">Requirements</h6>

								<div class="row">
									<div class="col-sm-8">
										{{ form.requirements(placeholder="Requirements") }}
                                        <span class="error">
                                              {% if form.requirements.errors %}
                                                {% for error in form.requirements.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
								</div>
                                <h6 class="label">Target group</h6>
                                <div class="row">
									<div class="col-sm-8">
										{{ form.target_group }}
                                        <span class="error">
                                              {% if form.target_group.errors %}
                                                {% for error in form.target_group.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
								</div>

							</section>
                            <div class="clearfix">

                                    <button class="btn btn-default btn-large" type="submit">Save</button>

                                </div>
						</div>

					</form>
					</div>
				</div> <!-- end .page-content -->
			</div>
		</div> <!-- end .container -->
	</div> <!-- end #page-content -->

	{% endblock %}