{% extends "base/layout_for_all.html" %}
{% block body %}
	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 page-content">
					<div class="clearfix mb30 hidden-xs">
						<a href="/jobs" class="btn btn-gray pull-left">Back to Jobs</a>
					</div>

					<div class="jobs-item jobs-single-item">
						<div class="thumb"><img src="{{ url_for('static', filename='img/content/bus-00.png') }}" alt=""></div>
						<div class="clearfix visible-xs"></div>
						<div class="date">{{jobs['date'].strftime('%d')}} <span>{{ jobs['date'].strftime('%B') }}</span></div>

						<h6 class="title"><a href="#">{{ jobs['title'] }}</a></h6>
						<span class="meta">Envato, Sydney, AU</span>

						<ul class="top-btns">
							<li><a href="{{ jobs['title'] }}" class="btn btn-gray fa fa-star"></a></li>
						</ul>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquid a dolores autem laudantium sapiente ad enim ipsa modi laborum accusantium deleniti neque architecto vitae.</p>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nihil, dolores, culpa ullam vero ipsum placeat accusamus nemo ipsa cupiditate id molestiae consectetur quae pariatur repudiandae vel ex quaerat nam iusto aliquid laborum quia adipisci aut ut impedit obcaecati nisi deleniti tempore maxime sequi fugit reiciendis libero quo. Rerum, assumenda.</p>

						<ul>
							<li>Lorem ipsum dolor sit amet.</li>
							<li>Reiciendis laborum mollitia ad vel?</li>
							<li>Velit voluptates neque perspiciatis suscipit?</li>
							<li>Facere, sequi quo iste odio.</li>
							<li>A culpa libero tempora ut.</li>
						</ul>

						<h5>Required Skills</h5>
                        <ul>
							<li>Web Design</li>
							<li>UI/UX</li>
							<li>Development</li>
						</ul>

                        <h5>Additional Requirements</h5>

						<ul class="requirements">
							<li>Work Permit</li>
							<li>5 Years Experience</li>
							<li>MBA</li>
							<li>Magento Certified</li>
							<li>Perfect Written &amp; Spoken English</li>
						</ul>

						<hr>

						<div class="clearfix">
							<a href="/job/apply/{{jobs.id}}" class="btn btn-default pull-left">Apply for this Job</a>

							<ul class="social-icons pull-right">
								<li><span>Share</span></li>
								<li><a href="#" class="btn btn-gray fa fa-facebook"></a></li>
								<li><a href="#" class="btn btn-gray fa fa-twitter"></a></li>
								<li><a href="#" class="btn btn-gray fa fa-google-plus"></a></li>
							</ul>
						</div>
					</div>

				</div> <!-- end .page-content -->
			</div>
		</div> <!-- end .container -->
	</div> <!-- end #page-content -->
{% endblock %}