{% extends "base/costum_layout.html" %}
{% block body %}
	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 page-sidebar">
					<aside>
						<div class="white-container mb0">
							<div class="widget sidebar-widget jobs-search-widget">
								<h5 class="widget-title">Search</h5>

								<div class="widget-content">
									<span>I'm looking for a ...</span>

									<select class="form-control mt10 mb10">
										<option value="0">Training</option>
										<option value="">Job</option>
			
									</select>

									<span>in</span>

									<input type="text" class="form-control mt15 mb15" placeholder="Location">

									<input type="submit" class="btn btn-default" value="Search">
								</div>
							</div>

							<div class="widget sidebar-widget jobs-filter-widget">
								<h5 class="widget-title">Filter Results</h5>

								<div class="widget-content">
									<h6>By Industry</h6>

									<div>
										<ul class="filter-list">
											<li><a href="#">Administration <span>(75)</span></a></li>
											<li><a href="#">Manufactoring <span>(3741)</span></a></li>
											<li><a href="#">Healthcare &amp; Science <span>(115)</span></a></li>
											<li><a href="#">Media &amp; Creative <span>(347)</span></a></li>
											<li><a href="#">Transportation <span>(52)</span></a></li>
										</ul>

										<a href="#" class="toggle"></a>
									</div>

									<h6>By Type</h6>

									<div>
										<ul class="filter-list">
											<li><a href="#">Banking/Finance <span>(300)</span></a></li>
											<li><a href="#">Administration <span>(758)</span></a></li>
											<li><a href="#">Art/Design/Creative <span>(20)</span></a></li>
											<li><a href="#">Customer Service <span>(165)</span></a></li>
											<li><a href="#">Education/Training <span>(11)</span></a></li>
											<li><a href="#">Banking/Finance <span>(9)</span></a></li>
										</ul>

										<a href="#" class="toggle"></a>
									</div>

									<input type="submit" class="btn btn-default mt30" value="Filter">
								</div>
							</div>
						</div>
					</aside>
				</div> <!-- end .page-sidebar -->

				<div class="col-sm-8 page-content">

					<div class="jobs-item with-thumb">
						<div class="thumb"><img src="{{ url_for('static', filename='img/content/bus-01.png') }}" alt=""></div>
						<div class="clearfix visible-xs"></div>
						<div class="date">{{training['startDate'].strftime('%d')}} <span>{{ training['startDate'].strftime('%B')}}</span></div>
						<h6 class="title"><a href="{{url_for("mod_apply_for_training.training",training_id=training.id)}}">{{training['title']}}</a></h6>
						<span class="meta">Prishtine, Kosove</span>
                


						<p class="description"></p>

						<div class="training-content">
                            <p>{{training['short_description']}}</p>
							<p>{{training['description']}}</p>

							<h5>Required Skills</h5>
                            <ul class="list-unstyled">
                                {{training['requirements']}}
								<li>Web Design</li>
								<li>Development</li>
								<li>Magento Certified</li>
								<li>UI/UX</li>
                            </ul>

                            <h5>Target group</h5>
                            <ul>
                                {% for target in training['target_group'] %}
                                <li>{{ target}}</li>
                                {% endfor %}
                            </ul>

							<hr>

							<div class="clearfix">
                                <ul class="list-inline">
                                    <li><div class="apply">
                                        {% if current_user.is_authenticated() %}
                                            {% if training['participants'] and current_user.id in training['participants'] %}
                                            <a href="{{url_for("mod_apply_for_training.apply_for_training", action="unapply", training_id=training.id)}}" class="btn btn-default pull-right ">Unapply</a>
                                            {% elif training['space'] != 0 %}
                                            <a href="{{url_for("mod_apply_for_training.apply_for_training", action="apply", training_id=training.id)}}" class="btn btn-default pull-right">Apply for this training</a>
                                            {% endif %}
                                        {% else %}
                                        <a name='login' class='login demo btn btn-default pull-right'/>Apply</a>
                                        {% endif %}
                                        </div>
                                        </li>
                                    <li><a href="{{url_for("mod_apply_for_training.edit_training", training_id=training.id)}}" class="btn btn-default pull-left">Edit training</a>
                                    <li><a href="{{url_for("mod_apply_for_training.apply_for_training", action="delete", training_id=training.id)}}" class="btn btn-default pull-left">Delete training</a>
                                    </li>
                                </ul>
								<ul class="social-icons pull-right">
									<li><span>Share</span></li>
									<li><a href="#" class="btn btn-gray fa fa-facebook"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-twitter"></a></li>
									<li><a href="#" class="btn btn-gray fa fa-google-plus"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div> <!-- end .page-content -->
			</div>
		</div> <!-- end .container -->
	</div> <!-- end #page-content -->

	{% endblock %}
