Flask
Flask-Auth==0.85
Flask-Admin
flask-mongoengine
Flask-Login
Flask-Security==1.7.4
Flask-RESTful==0.2.12
Flask-PyMongo==0.3.0
Flask-WTF==0.10.2
Flask-Mail==0.9.1
simplejson==3.3.0
Flask-Bcrypt==0.6.0
Werkzeug==0.9.6
WTForms==2.0.1
Jinja2==2.7.3
MarkupSafe==0.23
itsdangerous==0.24
Flask-DebugToolbar==0.9.0
requests==2.4.3
Flask-Script==2.0.5

