              <div class="widget sidebar-widget jobs-filter-widget">

                <div class="widget-content">
                  <div id="sidebar-wrapper">

                    <div>
                      <ul class="sidebar-nav">
                      <li class="sidebar-brand">
                      Admin Panel
                      </li>
                      <li class="active">
                          <a href="{{ url_for('admin_users.index')}}" >User Management</a>
                      </li>
                      <li>
                          <a href="{{ url_for('admin_applicants.index')}}">Applicants</a>
                      </li>
                      <li>
                          <a href="{{ url_for('admin_jobs.index')}}">Jobs</a>
                      </li>
                      <li>
                          <a href="{{ url_for('admin_reports.index')}}">Reports</a>
                      </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>



