{% extends "home/layout.html" %}

{% block body %}
<!-- Content -->
<div id="content">
  <div id="title">
    <h1 class="inner title-2">About Us
      <ul class="breadcrumb-inner">
        <li> <a href="index.html">Home</a></li>
        <li> <a href="about-us.html">About Us</a></li>
      </ul>
    </h1>
  </div>
  <div class="inner"> 
    
    <!-- Content Inner -->
    <div class="content-inner"> 
      <!-- Content Center -->
      <div class="content-center">
        <div class="body">
          <div class="clear"></div>
          <div class="heading-l">
            <h2>Hello, nice to meet you!</h2>
          </div>
          <div class="post-box box-1">
            <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</strong></p>
            <p>Cras vel lorem. Etiam pellentesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
            <div class="video-container">
              <iframe src="http://player.vimeo.com/video/24456787" width="536" height="328" frameborder="0" ></iframe>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
            <p>Cras vel lorem. Etiam pellentesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
            <div id="about-us-our-team" class="block">
              <h2 class="title-1">Our Team</h2>
              <div class="block-content">
                <div class="team-worker">
                  <div class="photo"><img src="content/our-team/worker-1.jpg" height="154" width="154" alt="Jeffrey Richards - CEO"/></div>
                  <div class="name">Jeffrey Richards</div>
                  <div class="post">CEO</div>
                </div>
                <div class="team-worker">
                  <div class="photo"><img src="content/our-team/worker-2.jpg" height="154" width="154" alt="John Doe - Partner"/></div>
                  <div class="name">John Doe</div>
                  <div class="post">Partner</div>
                </div>
                <div class="team-worker">
                  <div class="photo"><img src="content/our-team/worker-3.jpg" height="154" width="154" alt="Jane Doe - Partner"/></div>
                  <div class="name">Jane Doe</div>
                  <div class="post">Partner</div>
                </div>
                <div class="team-worker">
                  <div class="photo"><img src="content/our-team/worker-4.jpg" height="154" width="154" alt="Jeffrey Richards - HR"/></div>
                  <div class="name">Jeffrey Richards</div>
                  <div class="post">HR</div>
                </div>
                <div class="team-worker">
                  <div class="photo"><img src="content/our-team/worker-5.jpg" height="154" width="154" alt="Jane Richards - HR"/></div>
                  <div class="name">Jane Richards</div>
                  <div class="post">HR</div>
                </div>
                <div class="team-worker">
                  <div class="photo"><img src="content/our-team/worker-6.jpg" height="154" width="154" alt="Jeffrey Richards - Administrator"/></div>
                  <div class="name">Jeffrey Richards</div>
                  <div class="post">Administrator</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Content Center --> 
      
      <!-- Content Right -->
      <div class="content-right">
        <div id="about-us-navigation" class="box-1">
          <div class="">
            <ul>
              <li class="active"><a href="about-us.html">About Us</a></li>
              <li><a href="privacy-policy.html">Privacy Policy</a></li>
              <li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Content Right -->
      
      <div class="clear"></div>
      <!-- Clear Line --> 
      
    </div>
    <!-- /Content Inner --> 
    
  </div>
</div>
<!-- /Content --> 
{% endblock %}