{% extends "base/costum_layout.html" %}
{% block body %}
	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 page-content">
					<ul class="form-steps four clearfix">
						<li class="completed">Step 1</li>
						<li class="completed">Step 2</li>
						<li class="active">Step 3</li>
						<li>Step 4</li>
					</ul>

					<div class="white-container sign-up-form">
                        <form class="form-register" role="form" method="post" action="">
	    					<div>
							<h2>Fill in your profile</h2>
                            <h5>Add experience</h5>
                                <section>
                                    <div class="row">
                                    <h6 class="label">Company name</h6>
                                            <div class="col-sm-4">
                                                  {{ form.companyName(placeholder="Company Name") }}
                                                    <span class="error">
                                                      {% if form.companyName.errors %}
                                                        {% for error in form.companyName.errors %}
                                                          {{ error }}
                                                        {% endfor %}
                                                      {% endif %}
                                                    </span>
                                            </div>


                                    </div>
                                </section>
                                <section>
                                <h6 class="label">Period of Working Here</h6>
								<div class="row">
									<div class="col-sm-4">
										<h7 class="label">Start Date</h7>
										{{ form.startDateWork(placeholder="Start Date" , type="date", class = "form-control datepicker") }}
                                        <span class="error">
                                              {% if form.startDateWork.errors %}
                                                {% for error in form.startDateWork.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
									<div class="col-sm-4">
										<h7 class="label">End Date</h7>
										{{ form.endDateWork(placeholder="End Date" , type="date", class = "form-control") }}
                                        <span class="error">
                                              {% if form.endDateWork.errors %}
                                                {% for error in form.endDateWork.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
                                    </section>
                                <section>
                                    <div class="row">
                                    <h6 class="label">Position and Location</h6>
                                            <div class="col-sm-4">
                                            <h7 class="label">Position</h7>
                                                  {{ form.workPosition(placeholder="Work position") }}
                                                    <span class="error">
                                                      {% if form.workPosition.errors %}
                                                        {% for error in form.workPosition.errors %}
                                                          {{ error }}
                                                        {% endfor %}
                                                      {% endif %}
                                                    </span>
                                            </div>
                                            <div class="col-sm-4">
                                            <h7 class="label">Location</h7>
                                                  {{ form.companyLocation(placeholder="Company location") }}
                                                    <span class="error">
                                                      {% if form.companyLocation.errors %}
                                                        {% for error in form.companyLocation.errors %}
                                                          {{ error }}
                                                        {% endfor %}
                                                      {% endif %}
                                                    </span>
                                            </div>


                                    </div>
                                </section>
                                <section>
                                    <h6 class="label">Description</h6>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            {{ form.experienceDescription(placeholder="Description",rows=5)}}
                                            <span class="error">
                                                  {% if form.experienceDescription.errors %}
                                                    {% for error in form.experienceDescription.errors %}
                                                      {{ error }}
                                                    {% endfor %}
                                                  {% endif %}
                                                </span>
                                        </div>
                                    </div>
                                    </section>

                             <button class="btn-default btn-large pull-left" type="submit">Register!</button>
                             <a href="{{url_for('mod_authentication.register_summary')}}" class="btn-default btn-large pull-right" type="submit">Next >></a>
                            </div>
                            <br><br>

                        </form>

					</div>
				</div> <!-- end .page-content -->
			</div>
		</div> <!-- end .container -->
	</div> <!-- end #page-content -->

	{% endblock %}