{% extends "home/layout.html" %}

{% block body %}

<!-- Content -->
<div id="content">
  <div id="title">
    <h1 class="inner title-2">Contact Us
      <ul class="breadcrumb-inner">
        <li> <a href="index.html">Home</a></li>
        <li> <a href="thanks.html">Thanks</a></li>
      </ul>
    </h1>
  </div>
  <div class="inner"> 
    
    <!-- Content Inner -->
    <div class="content-inner"> 
      
      <!-- Content Center -->
      <div class="content-center">
          <p>Message Successfully Send</p>
       </div>
      <!-- /Content Center --> 
      
      <!-- Content Right -->
      <div class="content-right">
        <div class="block background">
          <h2 class="title-1">Send Us a Message</h2>
          <div class = "block-content">
           
            <form id ="contact" class="email" action="mailer.php" method="post">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue.</p>
              <div id = "about">
                <input title="Your Name" type="text" name="name" class="textfield2" placeholder="Name" onclick="this.value='';" onfocus="$(this).addClass('active');" onblur="$(this).removeClass('active');"/>
                <input title="Your E-Mail" type="text" name="email" class="textfield2" placeholder="E-mail" onclick="this.value='';" onfocus="$(this).addClass('active');" onblur="$(this).removeClass('active');"/>
                <input title="Your WebSite" type="text" name="subject" class="textfield2" placeholder="WebSite" onclick="this.value='';" onfocus="$(this).addClass('active');" onblur="$(this).removeClass('active');"/>
              </div>
              <div id = "mess">
                <textarea name="message" title="Your Message" name="message" cols="30" rows="6" class="textarea" onclick="this.value='';" onfocus="$(this).addClass('active');" onblur="$(this).removeClass('active');">How can I help you?</textarea>
              </div>
              <div id = "send">
                <input id="send_btn" type="submit" value="Submit">  </a>
              </div>
            </form>
          </div>

        </div>
      </div>
      <!-- /Content Right -->
      
      <div class="clear"></div>
      <!-- Clear Line --> 
      
    </div>
    <!-- /Content Inner --> 
    
  </div>
</div>
<!-- /Content --> 
{% endblock %}