{% extends "base/costum_layout.html" %}
{% block body %}
	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 page-content">
					<ul class="form-steps four clearfix">
						<li class="completed"><a href="{{url_for('mod_profile.update_personal_info')}}" >Personal info</a></li>
						<li class="active">Education</li>
						<li><a href="{{url_for('mod_profile.update_experience')}}">Experience</a></li>
						<li><a href="{{url_for('mod_profile.update_summary')}}">Summary</a></li>
					</ul>
                    {%  for education in current_user.education %}
					<div class="white-container sign-up-form">
                        <form class="form-register" role="form" method="post" action="{{url_for('mod_profile.update_education')}}">
	    					<div>
							<h2>Fill in your profile</h2>
                            <h5>Add academic achivement</h5>
                                <section>
                                    <div class="row">

                                    <h6 class="label">School</h6>
                                            <div class="col-sm-4">
                                                  {{ form.school(placeholder="School", value=education.school) }}
                                                    <span class="error">
                                                      {% if form.school.errors %}
                                                        {% for error in form.school.errors %}
                                                          {{ error }}
                                                        {% endfor %}
                                                      {% endif %}
                                                    </span>
                                            </div>

                                            <div class="col-sm-4">
                                                  {{ form.fieldOfStudy(placeholder="Field Of Study", value=education.fieldOfStudy) }}
                                                    <span class="error">
                                                      {% if form.fieldOfStudy.errors %}
                                                        {% for error in form.fieldOfStudy.errors %}
                                                          {{ error }}
                                                        {% endfor %}
                                                      {% endif %}
                                                    </span>
                                            </div>

                                            <div class="col-sm-4">
                                                  {{ form.schoolDegree(placeholder="Degree",value=education.schoolDegree) }}
                                                    <span class="error">
                                                      {% if form.schoolDegree.errors %}
                                                        {% for error in form.schoolDegree.errors %}
                                                          {{ error }}
                                                        {% endfor %}
                                                      {% endif %}
                                                    </span>
                                            </div>
                                    </div>
                                </section>
                                <section>
                                <h6 class="label">Date</h6>

								<div class="row">
									<div class="col-sm-4">
										<h7 class="label">Start Date</h7>
										{{ form.startDateSchool(type="date", class = "form-control datepicker", value=education.startDateSchool) }}
                                        <span class="error">
                                              {% if form.startDateSchool.errors %}
                                                {% for error in form.startDateSchool.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>

									<div class="col-sm-4">
										<h7 class="label">End Date</h7>
										{{ form.endDateSchool(type="date", class = "form-control",value=education.endDateSchool) }}
                                        <span class="error">
                                              {% if form.endDateSchool.errors %}
                                                {% for error in form.endDateSchool.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                            </span>
									</div>
                                </section>
                                <section>
                                    <h6 class="label">Description</h6>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            {{ form.schoolDescription(placeholder="Description",rows=5, value="{{education.schoolDescription}}")}}
                                            <span class="error">
                                                  {% if form.schoolDescription.errors %}
                                                    {% for error in form.schoolDescription.errors %}
                                                      {{ error }}
                                                    {% endfor %}
                                                  {% endif %}
                                                </span>
                                        </div>
                                    </div>
                                    </section>

                                <section>
                                    <div class="row">
                                         <button class="btn-default btn-large pull-left" type="submit">Save</button>
                                         </div>
                                </section>
                            </div>



                        </form>
                        {% endfor %}
                <a href="{{url_for('mod_profile.update_experience')}}" class="btn-default btn-large pull-right" type="submit">Next >></a>

					</div>
				</div> <!-- end .page-content -->
			</div>
		</div> <!-- end .container -->
	</div> <!-- end #page-content -->

	{% endblock %}