{% extends "base/layout_for_all.html" %}
{% block body %}
	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 page-sidebar">
					<aside>
						<div class="white-container mb0">
						{% include "admin/base/navigation.html" %}
						</div>
					</aside>
				</div> <!-- end .page-sidebar -->

				<div class="col-sm-8 page-content">

					<div class="title-lines">
						<h3 class="mt0">Jobs</h3>
					</div>
					<div class="pagination">
			                    <ul class="pagination pull-right">
			                        <li><a href="#" class="fa fa-angle-left"></a></li>
			                        		{%- for page in pagination.iter_pages() %}
									            {% if page %}
													
									                {% if page != pagination.page %}
			                        					<li><a href="{{config.BASE_PATH}}/admin/users?page={{ page }}">{{ page }}</a></li>
			                        				{% else %}
			                        					<li>{{ page }}</li>
			                        				{% endif %}
									            {% endif %}
									        {%- endfor %}
			                        <li><a href="#" class="fa fa-angle-right"></a></li>
			                    </ul>
			                </div>
					
						<table class="table table-hover">
							  <tr>
							    <th>Title</th>
							    <th>Date</th> 
							    <th>Location</th>
							    <th>Industry</th>
							    

							  </tr>
							  {% for job in pagination.items %}
							  <tr>
							    <td>{{job.title}}</td>
							    <td>{{job.date}}</td> 
							    <td>{{job.location}}</td>
							    <td>{{job.industry}}</td>
							  </tr>
							  {% endfor %}
							</table>
						   <div class="pagination">
			                    <ul class="pagination pull-right">
			                        <li><a href="#" class="fa fa-angle-left"></a></li>
			                        		{%- for page in pagination.iter_pages() %}
									            {% if page %}
													
									                {% if page != pagination.page %}
			                        					<li><a href="{{config.BASE_PATH}}/admin/users?page={{ page }}">{{ page }}</a></li>
			                        				{% else %}
			                        					<li>{{ page }}</li>
			                        				{% endif %}
									            {% endif %}
									        {%- endfor %}
			                        <li><a href="#" class="fa fa-angle-right"></a></li>
			                    </ul>
			                </div>
				</div> <!-- end .page-content -->
			</div>
		</div> <!-- end .container -->
	</div> <!-- end #page-content -->

	{% endblock %}