		<div class="header-nav-bar">
			<div class="container">

				<!-- Logo -->
				<div class="css-table logo">
					<div class="css-table-cell">
						<a href="../">
							<img src="{{ url_for('static', filename='img/header-logo.png') }}" alt="">
						</a> <!-- end .logo -->
					</div>
				</div>

				<!-- Mobile Menu Toggle -->
				<a href="#" id="mobile-menu-toggle"><span></span></a>

				<!-- Primary Nav -->
				<nav>
					<ul class="primary-nav">
                        {% if request.endpoint =='mod_home.index' %}
						<li class="active">
                            {% else %}
                        <li>
                        {% endif %}
							<a href="{{ config.BASE_PATH }}/">Home</a>
						</li>
                        {% if request.blueprint =='mod_apply_for_training' %}
                            <li class="active">

                             {% else %}
                             <li class="">
                        {% endif %}
							<a href="{{ config.BASE_PATH }}/trainings">Trainings</a>
                        {% if current_user.has_role('Admin') %}
							<ul>
                                     <li><a href="{{ config.BASE_PATH }}/create-training">Create Training</a></li>
							</ul>
                        {% endif %}
						</li>


                        {% if request.blueprint =='mod_apply_for_job' %}
						<li class="active">
                            {% else %}
                        <li class="">
                        {% endif %}

                        {% if current_user.has_role('Admin') %}
                        <a href="{{ config.BASE_PATH }}/jobs">Jobs</a>
                        <ul>
                            <li><a href="{{ config.BASE_PATH }}/create-job">Create Job</a></li>
                        </ul>
                        {% else %}
                            <a href="{{ config.BASE_PATH }}/jobs">Jobs</a>
                        {% endif %}
						</li>
                        {% if current_user.has_role('Admin') %}
						<li class="has-submenu">
							<a href="{{ config.BASE_PATH }}/applications/applicants">Candidates</a>

							<ul>
								<li><a href="{{ config.BASE_PATH }}/applications/applicants">Candidates Listings</a></li>
								<li><a href="{{ config.BASE_PATH }}/applications/applicants-sidebar">Candidates Listings Sidebar</a></li>
								<li><a href="{{ config.BASE_PATH }}/applications/applicants">Candidates Details</a></li>
							</ul>
						</li>
                        {% endif %}

					</ul>
				</nav>
			</div> <!-- end .container -->

			<div id="mobile-menu-container" class="container">
				<div class="login-register"></div>
				<div class="menu"></div>
			</div>
		</div> <!-- end .header-nav-bar -->
