{% extends "base/costum_layout.html" %}
{% block body %}
	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 page-content">
					<ul class="form-steps four clearfix">
						<li class="completed">Step 1</li>
						<li class="active">Step 2</li>
						<li>Step 3</li>
						<li>Step 4</li>
					</ul>

					<div class="white-container sign-up-form">
                        <form class="form-register" role="form" method="post" action="">
	    					<div>
							<h2>Fill in your profile</h2>

                                <section>
                                    <div class="row">
                                    <h6 class="label">Email</h6>
                                            <div class="col-sm-4">
                                                  {{ form.email(placeholder="Email") }}
                                                    <span class="error">
                                                      {% if form.email.errors %}
                                                        {% for error in form.email.errors %}
                                                          {{ error }}
                                                        {% endfor %}
                                                      {% endif %}
                                                    </span>
                                            </div>
                                    </div>
                                    <div class="row">
                                    <h6 class="label">Username</h6>
                                            <div class="col-sm-4">
                                                  {{ form.username(placeholder="Username") }}
                                                    <span class="error">
                                                      {% if form.username.errors %}
                                                        {% for error in form.username.errors %}
                                                          {{ error }}
                                                        {% endfor %}
                                                      {% endif %}
                                                    </span>
                                            </div>
                                    </div>
                                </section>

                                 <section>
                                    <h6 class="bottom-line">Set Password:</h6>

                                    <div class="row">
                                        <div class="col-sm-4">
                                              {{ form.password(placeholder="password") }}
                                                <span class="error">
                                                  {% if form.password.errors %}
                                                    {% for error in form.password.errors %}
                                                      {{ error }}
                                                    {% endfor %}
                                                  {% endif %}
                                                </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                              {{ form.confirm(placeholder="confirm") }}
                                                <span class="error">
                                                  {% if form.confirm.errors %}
                                                    {% for error in form.confirm.errors %}
                                                      {{ error }}
                                                    {% endfor %}
                                                  {% endif %}
                                               </span>
                                        </div>
                                    </div>
                                </section>


							<section>
                                <div class="row">
                                        <div class="col-sm-4">
                                            <h6 class="label">You are:</h6>
                                              {{ form.role }}
                                        </div>
                                </div>
								<h6 class="bottom-line">Personal Info:</h6>

								<h6 class="label">Name</h6>

								<div class="row">
									<div class="col-sm-4">
                                          {{ form.name(placeholder="Name") }}
                                            <span class="error">
                                              {% if form.name.errors %}
                                                {% for error in form.name.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
                                    </span>
									</div>

									<div class="col-sm-4">
                                          {{ form.surname(placeholder="Surname") }}
                                            <span class="error">
                                              {% if form.surname.errors %}
                                                {% for error in form.surname.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
									</div>
								</div>

								<h6 class="label">Phone</h6>

								<div class="row">
									<div class="col-sm-4">
										{{ form.phone_mobile(placeholder="Mobile") }}
                                            <span class="error">
                                              {% if form.phone_mobile.errors %}
                                                {% for error in form.phone_mobile.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
									</div>

									<div class="col-sm-4">
										{{ form.phone_work(placeholder="Work") }}
                                            <span class="error">
                                              {% if form.phone_work.errors %}
                                                {% for error in form.phone_work.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
									</div>

									<div class="col-sm-4">
										{{ form.fax(placeholder="Fax") }}
                                            <span class="error">
                                              {% if form.fax.errors %}
                                                {% for error in form.fax.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
									</div>
								</div>

								<h6 class="label">Address</h6>

								<div class="row">
									<div class="col-sm-6">
										{{ form.address1(placeholder="Addres 1") }}
                                            <span class="error">
                                              {% if form.address1.errors %}
                                                {% for error in form.address1.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
									</div>

									<div class="col-sm-6">
										{{ form.address2(placeholder="Addres 2") }}
                                            <span class="error">
                                              {% if form.address2.errors %}
                                                {% for error in form.address2.errors %}
                                                  {{ error }}
                                                {% endfor %}
                                              {% endif %}
									</div>
								</div>
                            </section>
                            <section>
								<div class="row">
									<div class="col-sm-3">
										<select>
											<option value="">Country</option>
											<option value="">1</option>
											<option value="">2</option>
											<option value="">3</option>
											<option value="">4</option>
											<option value="">5</option>
										</select>
									</div>

									<div class="col-sm-3">
										<select>
											<option value="">State/Province</option>
											<option value="">1</option>
											<option value="">2</option>
											<option value="">3</option>
											<option value="">4</option>
											<option value="">5</option>
										</select>
									</div>

									<div class="col-sm-3">
										<input type="text" class="form-control" placeholder="City">
									</div>

									<div class="col-sm-3">
										<input type="text" class="form-control" placeholder="ZIP Code">
									</div>
                                    </div>
                                </section>

                                <section>
                                    <h6 class="bottom-line">Expected Salary:</h6>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="range-slider clearfix">
                                                <div class="slider" data-min="100" data-max="100000" data-current-min="500" data-current-max="50000"></div>
                                                <div class="first-value">$ <span>500</span></div>
                                                <div class="last-value">$ <span>50000</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                             <button class="btn-default" type="submit">Register!</button>
                            </div>

                              <br><br>
                        </form>

					</div>
				</div> <!-- end .page-content -->
			</div>
		</div> <!-- end .container -->
	</div> <!-- end #page-content -->

	{% endblock %}